<header>
      <nav class="navbar navbar-expand-lg bg-warning">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="font-family: times, serif; font-size:21pt; font-style:italic; color:red">Alimento-Admin</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/admin/products">All Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">All Orers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/users">All Users</a>
              </li>
            </ul>
            <a
            class="btn btn-outline-success text-decoration-none"
            href="/logout"
          >Logout</a>
          </div>
        </div>
      </nav>
    </header>